body {
    background-image: url(/img/background.jpg);
}

.card.bg-opacity {
    background-color: rgba(90, 69, 69, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container {
    height: 100vh;
}

h2 {
    font-size: 35px;
    color: rgb(255, 255, 255);
}

.border-bottom {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 0 0 1px 0;
    border-color: #ced4da;
}

p {
    color: white;
}