* {
    box-sizing: border-box;
}

body {
    background-image: url(../assets/background.jpg);
}

.card {
    max-width: 500px;
    width: 50%;
    background-color: transparent;
    padding: 20px;
    backdrop-filter: blur(24px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container {
    height: 100vh !important;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h2, p {
    margin: 0px;
}

h2 {
    font-size: 35px;
    color: rgb(255, 255, 255);
}


p {
    color: white;
}

#answer {
    padding: 4px 8px !important;
}